body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .main {
    flex: 1;
  }
  
  .footer {
    background-image: url("https://asietecorp.com/wp-content/uploads/2017/11/fondo-footer-min.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 14%;
    min-height: 30px;
  }