<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" rel="stylesheet">
<div class='main'></div>
<footer class="footer fixed-bottom">
  <div class="container text-white">
    <br>
    <div class="row">
      <div class="col-12 col-md-4 col-lg-2">
        <h4>Facebook</h4>
        <p><i class="fab fa-facebook"></i> <a href="https://www.facebook.com/domingo.pinto "  target="_blank">/P. Domingo</a></p>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <h4 id="contacto">Contact</h4>
        <p>Direcci&oacute;n: Larrondo 1281 - Coquimbo
          <br> Email: dpt001@alumnos.ucn.cl
        </p>
      </div>

      <div class="col-12 col-md-4 col-lg-4">
        <h4 id="contacto">ABM MARKETING</h4> 
        <h5>Aplicación para la simulación<br>de campañas de marketing <br><br>
        
        </h5>
      </div>

    </div>
  </div>
  
</footer>