.create{
    min-height: 100px;
    min-width: 100px;
    border:solid 1px black;
    margin-right: 50px;
    margin-left: 200px;
}


.container{
    margin-top: 20px;
    margin-left: auto;
    float: left; 
   
}

.icon-rules {
    padding: 10px;
    background:0000;
    color: white;
    min-width: 50px;
    text-align: center;
  }

  #Run{
    
        font-size: 15px;
        line-height: 30px;
        text-align: center;
        margin-left: 25px;
        margin-top: -8px;
        width: 400px;
        height: 55px;
        
    
  }

  #agents{
    margin-top: -20px;
    margin-left: 0px;
    margin-bottom: -40px;

  }

  #variations{
      
    margin-bottom: -20px;
  }



 


  
  
  