.icon-rules {
    padding: 10px;
    background:0000;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  .little{
   top:0;
  }

  .container{
    margin-top: 20px;
    margin-left: auto;
    float: left; 
   
}